@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #fcfcfc;
  overflow-x: hidden;
}

.neo-shadow {
  box-shadow: 8px 8px 0px 0px #000;
  transition: all 0.1s ease;
}
.neo-shadow:hover {
  transform: translate(-2px, -2px);
  box-shadow: 10px 10px 0px 0px #000;
}
.neo-shadow:active {
  transform: translate(6px, 6px);
  box-shadow: 2px 2px 0px 0px #000;
}
.neo-shadow-static {
  box-shadow: 8px 8px 0px 0px #000;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-marquee {
  animation: marquee 20s linear infinite;
}
